---
import Footer from '../components/Footer.astro';
import Navigation from '../components/Navigation.astro';
import '../styles/global.css';
const pageTitle = "产品";

---

<html lang="zh-cn">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type ="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content = {Astro.generator} >
    <title>{
        pageTitle
    }</title>
  </head>
  <body>
    <Navigation />


  <h1>产品介绍</h1>
  <h2>所有产品</h2>
   <ul>
      <li><a href="/posts/post-1/">产品 1</a></li>
       <li><a href="/posts/post-2/">产品 2</a></li>
      <li><a href="/posts/post-3/">产品 3</a></li>
    </ul>
	<Footer />

  </body>
</html>